/* 05032021 - Abhishek - init version */
/* 18022021 - Abhishek - JIRA-CA-167: Render dashboards on UI -> Added color variables nd css class, propeties and media queries for dashboard config UI. */
:host {
  /* Search CSS Colors */
  --field-required-color: #f44335;
  --row-invalid-bgcolor: #dc35454d;
}
.field-required {
  color: var(--field-required-color);
}

.filter-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.filter {
  padding-right: 1.5rem;
}

.default-form{
  display: flex;
  flex-direction: row;
}
.default-field{
padding-right: 30px;
}

@media screen and (max-width: 1020px) {
  .filter-header {
    flex-direction: column;
  }
  .filter {
    padding-right: 0px;
  }
}

@media screen and (max-width: 450px) {
  .default-form{
    flex-direction: column;
  }
  .default-field{
    padding-right: 0px;
    }
}
