<!-- 10122020 - Gaurav - Disabled list filter input on loading to avoid typing and subsequent error - TypeError: Cannot set property 'filter' of undefined -->
<div class="main-container">
  <div class="table-container mat-elevation-z8">
    <div class="table-top">
      <div class="table-top_row1">
        <h2 class="table-title">List of Manage Message Template</h2>
        <mat-form-field>
          <mat-label>Search</mat-label>
          <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="Ex. org"
            #input
            [disabled]="isLoading"
          />
        </mat-form-field>
      </div>
      <!-- 05012021 - Abhishek - Removed row class to set design -->
      <div class="table-top_row2">
        <div class="col">
          <mat-form-field *ngIf="isShowMemberOrgDropDown()">
            <mat-label>{{
              selectedHoldingOrgData?.memberOrgs?.length === 1
                ? "Member Org"
                : "Member Orgs"
            }}</mat-label>
            <mat-select
              [(value)]="selectedMemberOrg"
              (selectionChange)="filterTemplateList()"
              [disabled]="selectedHoldingOrgData?.memberOrgs?.length === 1"
            >
            <mat-option
            [value]="memberOrg"
            *ngFor="let memberOrg of selectedHoldingOrgData?.memberOrgs"
            >{{ memberOrg.name }}</mat-option
          >
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="isShowBothOrgDropDown()">
          <mat-label>Holding/Member Orgs</mat-label>
          <mat-select
            [(value)]="selectedMemberOrg"
            (selectionChange)="filterTemplateList()">
          <mat-optgroup *ngFor="let group of bothOrgList" [label]="group.name">
            <mat-option *ngFor="let subItem of group.value" [value]="subItem">
              {{subItem.name}}
            </mat-option>
          </mat-optgroup>
          </mat-select>
        </mat-form-field>
        </div>
        <div class="col" *ngIf="isShowEditComponents()">
          <button
            mat-raised-button
            class="table-add-btn"
            (click)="onAddNewTemplate()"
          >
            Add New Template
          </button>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="table-container-table">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Name (Code)
          </th>
          <td mat-cell *matCellDef="let element">{{element?.name}} ({{ element?.code }})</td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
          <td mat-cell *matCellDef="let element">
            {{ element?.description }}
          </td>
        </ng-container>
        <ng-container matColumnDef="subject">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Subject</th>
          <td mat-cell *matCellDef="let element">
            {{ element?.channel?.email?.subject }}
          </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td
            mat-cell
            *matCellDef="let element"
            [ngClass]="[element?.status === 1 ? 'active' : 'inactive']"
          >
            {{ element?.status === 1 ? "Active" : "Inactive" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="updatedAt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Updated</th>
          <td mat-cell *matCellDef="let element">
            {{ element?.updatedAt | date:'YYYY-MM-dd HH:MM' }}
          </td>
        </ng-container>
        <ng-container
          class="action-buttons-container"
          matColumnDef="action_buttons"
          stickyEnd
        >
          <th mat-header-cell *matHeaderCellDef style="width: 200px;">Actions</th>
          <td mat-cell *matCellDef="let element">
            <div class="action-buttons-row">
              <button
                *ngIf="isShowEditComponents()"
                mat-mini-fab
                matTooltip="Edit"
                matTooltipPosition="above"
                color="none"
                [ngClass]="[
                  'mat-elevation-z0',
                  'action-buttons',
                  'edit-button'
                ]"
                (click)="onEditTemplate(element?._id, 'edit')"
              >
                <mat-icon [ngClass]="['edit-icon']">edit</mat-icon>
              </button>
              <button
                *ngIf="isShowEditComponents()"
                mat-mini-fab
                matTooltip="Copy"
                matTooltipPosition="above"
                color="none"
                [ngClass]="[
                  'mat-elevation-z0',
                  'action-buttons',
                  'copy-button'
                ]"
                (click)="onEditTemplate(element?._id, 'copy')"
              >
                <mat-icon [ngClass]="['copy-icon']">library_books</mat-icon>
              </button>
              <button
                *ngIf="isShowEditComponents()"
                mat-mini-fab
                [matTooltip]="element?.status === 1 ? 'Inactivate' : 'Activate'"
                matTooltipPosition="above"
                color="none"
                [ngClass]="[
                  'mat-elevation-z0',
                  'action-buttons',
                  element?.status === 1
                    ? 'status-button'
                    : 'status-button-inactive'
                ]"
                (click)="
                  onStatusChange(element?.status, element?._id, element?.name)
                "
              >
                <mat-icon
                  [ngClass]="[
                    element?.status === 1
                      ? 'status-icon'
                      : 'status-icon-inactive'
                  ]"
                >
                  {{ element?.status === 1 ? "toggle_on" : "toggle_off" }}
                </mat-icon>
              </button>
              <button
                mat-mini-fab
                matTooltip="View"
                matTooltipPosition="above"
                color="none"
                [ngClass]="[
                  'mat-elevation-z0',
                  'action-buttons',
                  'view-button'
                ]"
                (click)="onViewTemplate(element?._id)"
              >
                <mat-icon [ngClass]="['view-icon']">visibility</mat-icon>
              </button>
              <button
                *ngIf="isShowEditComponents()"
                mat-mini-fab
                matTooltip="Delete"
                matTooltipPosition="above"
                color="none"
                [ngClass]="[
                  'mat-elevation-z0',
                  'action-buttons',
                  'delete-button'
                ]"
                (click)="onDeleteTemplate(element?._id, element?.name)"
              >
                <mat-icon [ngClass]="['delete-icon']">delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>
        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="5">
            No data matching the filter "{{ input.value }}"
          </td>
        </tr>
      </table>
    </div>
    <mat-paginator
      [pageSize]="appConfigService.systemMatTableProperties.pageSize"
      [pageSizeOptions]="appConfigService.systemMatTableProperties.pageSizeOptions"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
