<!-- 21122020 - Gaurav - Init version -->
<!-- 21012021 - Gaurav - Added org DrDw component -->
<!-- 31032021 - Gaurav - JIRA-CA-310: Componentize setup-list action buttons -->
<div class="main-container">
  <div class="table-container mat-elevation-z8">
    <div class="table-top">
      <div class="table-top_row1">
        <h2 class="table-title">
          List of
          {{ currentFeature === dataDomainList.nps ? "NPS" : "Response AI" }}
          Questions
        </h2>
        <mat-form-field>
          <mat-label>Search</mat-label>
          <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="Ex. org"
            #input
            [disabled]="isLoading"
          />
        </mat-form-field>
      </div>

      <div class="table-top_row2 table-top_row1">
        <app-org-dropdownlist
          [currentFeatureDataDomain]="currentFeature"
          [parentSelectedHoldingOrgData]="selectedHoldingOrgData"
          [parentOrgAccessInformation]="orgAccessInformation"
          (fromOrgDrDw)="listenToDrDw($event)"
        ></app-org-dropdownlist>

        <button
          *ngIf="isShowEditComponents()"
          mat-raised-button
          class="table-add-btn"
          (click)="onAdd()"
          [disabled]="isLoading"
        >
          Add
          {{ currentFeature === dataDomainList.nps ? "NPS" : "Response AI" }}
          Question
        </button>
      </div>
    </div>
    <mat-divider></mat-divider>

    <div class="table-container-table">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="displayName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <!-- {{ currentFeature === dataDomainList.nps ? "NPS" : "Response AI" }} -->
            Question Name (Code)
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element?.name }} ({{ element?.code }})
          </td>
        </ng-container>

        <ng-container matColumnDef="questionType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
          <td mat-cell *matCellDef="let element">
            {{
              element?.category === "section"
                ? "section"
                : element?.questionType
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="required">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Is Required</th>
          <td mat-cell *matCellDef="let element">
            {{
              element?.category === "section"
                ? "NA"
                : element?.required
                ? "Yes"
                : "No"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td
            mat-cell
            *matCellDef="let element"
            [ngClass]="[element?.status === 1 ? 'active' : 'inactive']"
          >
            {{ element?.status === 1 ? "Active" : "Inactive" }}
          </td>
        </ng-container>

        <ng-container
          class="action-buttons-container"
          matColumnDef="action_buttons"
          stickyEnd
        >
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element">
            <app-fab-button-row
              [buttonRowProps]="{
                rowButtons: [
                  {
                    appButtonType: appButtonType.edit,
                    isRender: isShowEditComponents()
                  },
                  {
                    appButtonType: appButtonType.copy,
                    isRender: isShowEditComponents()
                  },
                  {
                    appButtonType: appButtonType.status,
                    isRender: isShowEditComponents(),
                    status: element?.status
                  },

                  {
                    appButtonType: appButtonType.view,
                    isRender: true
                  },
                  {
                    appButtonType: appButtonType.delete,
                    isRender: isShowEditComponents()
                  }
                ]
              }"
              (clicked)="
                onButtonRowClicked({
                  appButtonType: $event,
                  _id: element?._id,
                  name: element?.name,
                  status: element?.status
                })
              "
            ></app-fab-button-row>
          </td>
        </ng-container>

        <!-- Sticky header row -->
        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="5">
            {{ input.value.length > 0 ? 'No data matching the filter"' : "" }}
            {{ input.value }} {{ input.value.length > 0 ? '"' : "" }}
          </td>
        </tr>
      </table>
    </div>
    <mat-paginator
      [pageSize]="appConfigService.systemMatTableProperties.pageSize"
      [pageSizeOptions]="
        appConfigService.systemMatTableProperties.pageSizeOptions
      "
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
