<ng-container *ngIf="isLoading; else showResponse">
  <p class="lead mt-2">Fetching data{{ dots }}</p>
</ng-container>
<ng-template #showResponse>
  <ng-container *ngIf="responseArray; else noDataFound">
    <ng-container *ngIf="responseArray?.length > 0; else noRecords">
      <cdk-virtual-scroll-viewport
        itemSize="30"
        class="survey-text-responses-viewport mt-3 shadow-sm"
      >
        <div
          *cdkVirtualFor="
            let text of responseArray;
            let i = index;
            let count = count;
            let odd = odd
          "
          [class.survey-text-responses-alternate]="odd"
        >
          <div class="survey-text-resdivonses-item mb-1">
            {{ i + 1 }}. {{ text }}
          </div>
        </div>
      </cdk-virtual-scroll-viewport>
    </ng-container>

    <ng-template #noRecords>
      <p class="lead mt-2">
        No text data available or recorded for this question!
      </p>
    </ng-template>
  </ng-container>
  <ng-template #noDataFound>
    <p class="lead mt-2" style="color: red">Error fetching data from server!</p>
  </ng-template>
</ng-template>
