<!-- 05012021 - Gaurav - Init version -->
<!-- 12012021 - Gaurav - Some validation changes -->
<div class="col-12">
  <form [formGroup]="form">
    <!-- Base Fields - Starts -->
    <div class="row">
      <div class="col-sm-12">
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label
            >Identifier Name <span class="field-required">*</span></mat-label
          >
          <input
            matInput
            formControlName="responseIdentifierText"
            type="text"
            placeholder="Ex. checkin_process_response, user_contact_preferences, user_rating, etc."
            (keypress)="
              templateFieldValidationService.allowNoSpaceAndSpecialChars(
                $event,
                { lowercaseOnly: true }
              )
            "
            (change)="
              this.question
                ? (this.question.responseIdentifierText = form.get(
                    'responseIdentifierText'
                  )?.value)
                : ''
            "
            [maxlength]="responseIdentifierTextMaxLength"
          />
          <mat-hint
            >A unique identifier used to identify customer response for this
            question.</mat-hint
          >
          <mat-error
            *ngIf="form?.controls?.responseIdentifierText?.errors?.required"
            >Name is a required field</mat-error
          >
        </mat-form-field>
      </div>
      <div class="col-sm-6" *ngIf="surveyMode">
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Display Question Number (Optional)</mat-label>
          <input
            matInput
            formControlName="questionNumberOrderToDisplay"
            type="number"
            placeholder="Ex. 1"
            onkeypress="return event.charCode >= 48"
            min="1"
            (change)="
              this.question
                ? (this.question.questionNumberOrderToDisplay = form.get(
                    'questionNumberOrderToDisplay'
                  )?.value)
                : ''
            "
          />
          <mat-hint>Question number to display</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-sm-6 my-xs-3 mt-sm-4">
        <mat-slide-toggle
          formControlName="questionRequired"
          (change)="
            this.question
              ? (this.question.required = form.get('questionRequired')?.value)
              : ''
          "
          >Required</mat-slide-toggle
        >
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-sm-12">
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Question Text</mat-label>
          <input
            matInput
            formControlName="questionText"
            placeholder="Ex. Please rate your overall experience:"
            [maxlength]="questionTextFieldMaxLength"
            (change)="
              this.question
                ? (this.question.questionText = form.get('questionText')?.value)
                : ''
            "
          />
          <mat-hint align="end"
            >{{ form.get("questionText")?.value?.length || 0 }}/{{
              questionTextFieldMaxLength
            }}</mat-hint
          >
        </mat-form-field>
      </div>
      <div class="col-sm-12">
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Sub-Question Text</mat-label>
          <input
            matInput
            formControlName="subQuestionText"
            placeholder="Ex. Field to add question in any other or local language"
            [maxlength]="questionTextFieldMaxLength"
            (change)="
              this.question
                ? (this.question.subQuestionText = form.get(
                    'subQuestionText'
                  )?.value)
                : ''
            "
          />
          <mat-hint align="end"
            >{{ form.get("subQuestionText")?.value?.length || 0 }}/{{
              questionTextFieldMaxLength
            }}</mat-hint
          >
        </mat-form-field>
      </div>
    </div>
    <mat-divider></mat-divider>
    <!-- Base Fields - Ends -->
    <div class="form-row">
      <div class="col-sm-6">
        <mat-form-field appearance="outline">
          <mat-label
            >Total Score Elements (low 1-10 high)
            <span class="field-required">*</span></mat-label
          >
          <input
            matInput
            formControlName="groupElementsCount"
            type="number"
            placeholder="Ex. 11"
            (keypress)="
              templateFieldValidationService.allowNoSpaceAndSpecialChars(
                $event,
                { numberOnly: true }
              )
            "
            max="11"
            min="1"
            (change)="
              this.question
                ? (this.question.questionTypeStructure.groupElementsCount = form.get(
                    'groupElementsCount'
                  )?.value)
                : ''
            "
          />
          <mat-hint
            >0 is no score. Score 1 is the lowest and 10 is the
            highest</mat-hint
          >
          <mat-error
            *ngIf="
              form?.controls?.groupElementsCount?.errors?.required ||
              form?.controls?.groupElementsCount?.errors?.max ||
              form?.controls?.groupElementsCount?.errors?.min
            "
            >Total score elements cannot be less than 1 or greater than
            11</mat-error
          >
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field appearance="outline">
          <mat-label
            >Left Hint Text <span class="field-required">*</span></mat-label
          >
          <input
            matInput
            formControlName="leftHintText"
            placeholder="Ex. Not at all Likely, Bad, etc."
            [maxlength]="50"
            (change)="
              this.question
                ? (this.question.questionTypeStructure.leftHintText = form.get(
                    'leftHintText'
                  )?.value)
                : ''
            "
          />
          <mat-hint align="end"
            >{{ form.get("leftHintText")?.value?.length || 0 }}/{{
              50
            }}</mat-hint
          >
          <mat-error *ngIf="form?.controls?.leftHintText?.errors?.required"
            >This is a required field</mat-error
          >
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field appearance="outline">
          <mat-label
            >Right Hint Text <span class="field-required">*</span></mat-label
          >
          <input
            matInput
            formControlName="rightHintText"
            placeholder="Ex. Extremely Likely, Good, etc."
            [maxlength]="50"
            (change)="
              this.question
                ? (this.question.questionTypeStructure.rightHintText = form.get(
                    'rightHintText'
                  )?.value)
                : ''
            "
          />
          <mat-hint align="end"
            >{{ form.get("rightHintText")?.value?.length || 0 }}/{{
              50
            }}</mat-hint
          >
          <mat-error *ngIf="form?.controls?.rightHintText?.errors?.required"
            >This is a required field</mat-error
          >
        </mat-form-field>
      </div>
    </div>

    <!-- 25012021 - Gaurav - Added additional text fields for single-choice-radiobox question type -->
    <div class="row">
      <div class="col-sm-6 my-xs-3 my-sm-4">
        <mat-slide-toggle
          formControlName="addAdditionalTextField"
          (change)="
            onAdditionalInputToggle();
            this.question
              ? (this.question.questionTypeStructure.addAdditionalTextField = form.get(
                  'addAdditionalTextField'
                )?.value)
              : ''
          "
          >Add Additional Text Input Field</mat-slide-toggle
        >
      </div>
    </div>
    <ng-container *ngIf="form.get('addAdditionalTextField')?.value">
      <mat-divider class="mt-2"></mat-divider>
      <div class="form-row mt-3">
        <div class="col-sm-6">
          <mat-form-field appearance="outline">
            <mat-label
              >Max Characters <span class="field-required">*</span></mat-label
            >
            <input
              matInput
              formControlName="additionalTextMaxLength"
              type="number"
              [placeholder]="'Ex. ' + additionalInputSettings.maxLength.min"
              (keypress)="
                templateFieldValidationService.allowNoSpaceAndSpecialChars(
                  $event,
                  { numberOnly: true }
                )
              "
              [max]="additionalInputSettings.maxLength.max"
              [min]="additionalInputSettings.maxLength.min"
              (change)="
                this.question
                  ? (this.question.questionTypeStructure.additionalText.maxLength = form.get(
                      'additionalTextMaxLength'
                    )?.value)
                  : ''
              "
            />
            <mat-error
              *ngIf="
                form?.controls?.additionalTextMaxLength?.errors?.required ||
                form?.controls?.additionalTextMaxLength?.errors?.max ||
                form?.controls?.additionalTextMaxLength?.errors?.min
              "
              >Max Characters cannot be less than
              {{ additionalInputSettings.maxLength.min }} or greater than
              {{ additionalInputSettings.maxLength.max }}</mat-error
            >
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field appearance="outline">
            <mat-label>Rows <span class="field-required">*</span></mat-label>
            <input
              matInput
              formControlName="additionalTextRows"
              type="number"
              [placeholder]="'Ex. ' + additionalInputSettings.rows.min"
              (keypress)="
                templateFieldValidationService.allowNoSpaceAndSpecialChars(
                  $event,
                  { numberOnly: true }
                )
              "
              [max]="additionalInputSettings.rows.max"
              [min]="additionalInputSettings.rows.min"
              (change)="
                this.question
                  ? (this.question.questionTypeStructure.additionalText.rows = form.get(
                      'additionalTextRows'
                    )?.value)
                  : ''
              "
            />
            <mat-error
              *ngIf="
                form?.controls?.additionalTextRows?.errors?.required ||
                form?.controls?.additionalTextRows?.errors?.max ||
                form?.controls?.additionalTextRows?.errors?.min
              "
              >Rows cannot be less than
              {{ additionalInputSettings.rows.min }} or greater than
              {{ additionalInputSettings.rows.max }}</mat-error
            >
          </mat-form-field>
        </div>
      </div>
    </ng-container>
  </form>
</div>
