<div class="main-container">
  <div class="table-container mat-elevation-z8">
    <div class="table-top">
      <div class="table-top_row1">
        <h2 class="table-title">List of {{ pageTitle }}</h2>
        <mat-form-field>
          <mat-label>Search</mat-label>
          <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="Ex. org"
            #input
          />
        </mat-form-field>
      </div>
      <!-- 05012021 - Abhishek - Removed row class to set design -->
      <div class="table-top_row2">
        <app-org-dropdownlist
          [currentFeatureDataDomain]="currentFeature"
          [parentSelectedHoldingOrgData]="selectedHoldingOrgDatas"
          [parentOrgAccessInformation]="orgAccessInformation"
          (fromOrgDrDw)="listenToDrDw($event)"
        ></app-org-dropdownlist>
        <div class="col text-right" *ngIf="isShowEditComponents()">
          <button
            mat-raised-button
            class="table-add-btn"
            (click)="onAddNewCampaign()"
          >
            Add New Campaign
          </button>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="table-container-table">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name (Code)</th>
          <td mat-cell *matCellDef="let element">
            {{ element?.name }} ({{ element?.code }})
          </td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
          <td mat-cell *matCellDef="let element">
            {{ element?.description }}
          </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td
            mat-cell
            *matCellDef="let element"
            [ngClass]="[element?.status === 1 ? 'active' : element?.status === 2 ? 'text-warning' : 'inactive']"
          >
            {{ element?.status === 1 ? "Launched" : element?.status === 2 ? "Draft" : "Terminated" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="updatedAt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Updated</th>
          <td mat-cell *matCellDef="let element">
            {{ element?.updatedAt | date:'YYYY-MM-dd HH:MM' }}
          </td>
        </ng-container>
        <ng-container
          class="action-buttons-container"
          matColumnDef="action_buttons"
          stickyEnd
        >
          <th mat-header-cell *matHeaderCellDef style="width: 200px">
            Actions
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="action-buttons-row">
              <!-- 05032021 - Gaurav - JIRA-CA-154: Pass additional params to onViewCampaignSurveyResponse() -->
              <!-- 09022021 - Gaurav - New icon to view consolidated campaign survey response -->
              <button
                *ngIf="isShowSurveyResponse()"
                mat-mini-fab
                matTooltip="View Survey Response"
                matTooltipPosition="above"
                color="none"
                [ngClass]="[
                  'mat-elevation-z0',
                  'action-buttons',
                  'web-view-button'
                ]"
                (click)="
                  onViewCampaignSurveyResponse(
                    element?._id,
                    element?.name,
                    element?.code
                  )
                "
              >
                <mat-icon [ngClass]="['web-view-icon']">preview</mat-icon>
              </button>
              <button
              *ngIf="isShowEditComponents()"
              mat-mini-fab
              matTooltip="Copy"
              matTooltipPosition="above"
              color="none"
              [ngClass]="[
                'mat-elevation-z0',
                'action-buttons',
                'copy-button'
              ]"
              (click)="onDuplicate(element?._id, element?.name)"
            >
              <mat-icon [ngClass]="['copy-icon']">library_books</mat-icon>
            </button>
              <button
                mat-mini-fab
                matTooltip="View"
                matTooltipPosition="above"
                color="none"
                [ngClass]="[
                  'mat-elevation-z0',
                  'action-buttons',
                  'view-button'
                ]"
                (click)="onViewTemplate(element?._id)"
              >
                <mat-icon [ngClass]="['view-icon']">visibility</mat-icon>
              </button>
              <button
              *ngIf="isShowEditComponents() && element?.status === 2"
              mat-mini-fab
              matTooltip="Edit"
              matTooltipPosition="above"
              color="none"
              [ngClass]="[
                'mat-elevation-z0',
                'action-buttons',
                'edit-button'
              ]"
              (click)="onEditTemplate(element?._id, 'edit')"
            >
              <mat-icon [ngClass]="['edit-icon']">edit</mat-icon>
            </button>
              <button
              *ngIf="isShowEditComponents() && element?.status === 1"
              mat-mini-fab
              matTooltip="Terminate Launched Campaign"
              matTooltipPosition="above"
              color="none"
              class="mat-elevation-z0 action-buttons delete-button"
              (click)="openBottomSheet(element?._id, element?.name, element?.status)"
            >
              <mat-icon [ngClass]="['delete-icon']">close</mat-icon>
            </button>
            </div>
          </td>
        </ng-container>
        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="5">
            No data matching the filter "{{ input.value }}"
          </td>
        </tr>
      </table>
    </div>
    <mat-paginator
      [pageSize]="appConfigService.systemMatTableProperties.pageSize"
      [pageSizeOptions]="appConfigService.systemMatTableProperties.pageSizeOptions"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
