// common button styles
button:focus {
  outline: none;
}

.add-icon {
  color: $add-icon;
}

.delete-icon {
  color: $delete-icon;
}
.edit-icon {
  color: $edit-icon;
}
.web-view-icon {
  color: $web-view-icon;
}
.save-icon {
  color: $save-icon;
}
.cancel-icon {
  color: $cancel-icon;
}

.btn-action,
.btn-cancel {
  color: $white;
}

.btn-action {
  background-color: $primary-color;
}

.btn-cancel {
  background-color: $btn-bgcolor-cancel;
}
.copy-icon {
  color: $copy-icon;
}
.status-icon {
  color: $status-active-icon;
}
.status-icon-inactive {
  color: $status-inactive-icon;
}
.view-icon {
  color: $view-icon;
}
.check-circle-icon {
  color: $check-circle-icon;
}
// .right-icon {
//   color: $right-icon;
// }

.disabled-button {
  @include action-button-style("disabled");
}

.action-buttons {
  @include action-button-style("enabled");
  &:hover mat-icon {
    color: $white;
  }

  &.add-button {
    background-color: $add-icon-button;
    &:hover {
      background-color: $add-icon-button-hover;
    }
  }

  &.delete-button {
    background-color: $delete-icon-button;
    &:hover {
      background-color: $delete-icon-button-hover;
    }
  }
  &.edit-button {
    background-color: $edit-icon-button;
    &:hover {
      background-color: $edit-icon-button-hover;
    }
  }
  &.web-view-button {
    background-color: $web-view-icon-button;
    &:hover {
      background-color: $web-view-icon-button-hover;
    }
  }
  &.save-button {
    background-color: $save-icon-button;
    &:hover {
      background-color: $save-icon-button-hover;
    }
  }
  &.cancel-button {
    background-color: $cancel-icon-button;
    &:hover {
      background-color: $cancel-icon-button-hover;
    }
  }
  &.copy-button {
    background-color: $copy-icon-button;
    &:hover {
      background-color: $copy-icon-button-hover;
    }
  }

  &.status-button {
    background-color: $status-active-icon-button;
    &:hover {
      background-color: $status-active-icon-button-hover;
    }
  }

  &.status-button-inactive {
    background-color: $status-inactive-icon-button;
    &:hover {
      background-color: $status-inactive-icon-button-hover;
    }
  }

  &.view-button {
    background-color: $view-icon-button;
    &:hover {
      background-color: $view-icon-button-hover;
    }
  }

  &.check-circle-icon-button {
    background-color: $check-circle-icon-button;
    &:hover {
      background-color: $check-circle-icon-button-hover;
    }
  }

  // &.right-button {
  //   background-color: $right-icon-button;
  //   &:hover {
  //     background-color: $right-icon-button-hover;
  //   }
  // }
}

.mat-mini-fab {
  .mat-button-wrapper {
    padding: 0 !important;
  }
}

.table-top_row1 {
  display: flex;
  flex-direction: column;
}

.table-top_row2 {
  button {
    background-color: $btn-bgcolor;
    color: $btn-textColor;
  }
}
