<!-- 16122020 - Gaurav - Init version -->
<!-- 17122020 - Gaurav - Moved page, sections and questions to their own respective componentts -->
<!-- 29122020 - Gaurav - Removed Demo code and worked on actual code changes albiet with the temp API -->
<!-- 30122020 - Gaurav - Added introTextHTML and kept to 'Add Page' button style different than the Add/Update button to avoid any confusion -->
<!-- 06012021 - Gaurav - renamed field introText to match with backend change -->
<!-- 13012021 - Gaurav - Show total number of pages and added vertical stepper for Pages -->
<!-- 15012021 - Gaurav - Added Update & Close button in EDIT mode, not in ADD mode for now because that needs some impact analysis -->
<!-- 22012021 - Gaurav - Pass saved section records, question records and question types to sections -->
<!-- 08022021 - Gaurav - Aesthetic bug fix: Load controls only when loading is off and survey object is valid -->
<!-- 25032021 - Gaurav - JIRA-CA-274: Change survey setup to tabbed format -->
<!-- 25032021 - Gaurav - JIRA-CA-275: Tabbed page setup -->
<!-- 30032021 - Gaurav - JIRA-CA-277: Add message templates to survey setup -->
<!-- 01042021 - Gaurav - JIRA-CA-277: Fixed email editor issue with lazy-load child tabs -->
<div class="survey-main-container">
  <div class="survey-card-container">
    <mat-card>
      <mat-card-header>
        <!-- Header -->
        <mat-card-title>
          {{ getTitle() }}
        </mat-card-title>
        <mat-card-subtitle>
          {{ getSubTitle() ? getSubTitle() : "&nbsp;" }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content *ngIf="!isLoading && this.survey">
        <form [formGroup]="form" *ngIf="form">
          <mat-tab-group
            animationDuration="0ms"
            [(selectedIndex)]="selectedTablIndex"
            class="survey-tabs-group"
          >
            <mat-tab [label]="tabIndex[0].label">
              <div class="survey-page-add-container">
                <mat-form-field appearance="outline" style="width: 100%">
                  <mat-label
                    >Survey Code
                    <span class="field-required">*</span></mat-label
                  >
                  <input
                    matInput
                    formControlName="code"
                    placeholder="Ex. AB001"
                    [maxlength]="surveyFieldLengthConfig.code"
                    (keypress)="
                      templateFieldValidationService.allowNoSpaceAndSpecialChars(
                        $event,
                        { anyCASE: true }
                      )
                    "
                  />
                  <mat-hint align="start">Survey Code e.g. AB001</mat-hint>
                  <mat-hint align="end"
                    >{{ form?.get("code")?.value?.length || 0 }}/{{
                      surveyFieldLengthConfig.code
                    }}</mat-hint
                  >
                  <mat-error *ngIf="form?.controls?.code?.errors?.required"
                    >Survey Code is a required field</mat-error
                  >
                </mat-form-field>

                <mat-form-field appearance="outline" style="width: 100%">
                  <mat-label
                    >Survey Name
                    <span class="field-required">*</span></mat-label
                  >
                  <input
                    matInput
                    formControlName="name"
                    placeholder="Ex. Customer Feedback Survey"
                    [maxlength]="surveyFieldLengthConfig.name"
                  />
                  <mat-hint align="start"
                    >Survey Name e.g. Customer Feedback Survey</mat-hint
                  >
                  <mat-hint align="end"
                    >{{ form?.get("name")?.value?.length || 0 }}/{{
                      surveyFieldLengthConfig.name
                    }}</mat-hint
                  >
                  <mat-error *ngIf="form?.controls?.name?.errors?.required"
                    >Survey Name is a required field</mat-error
                  >
                </mat-form-field>

                <mat-form-field appearance="outline" style="width: 100%">
                  <mat-label>Survey Title</mat-label>
                  <input
                    matInput
                    formControlName="title"
                    placeholder="Ex. ABC Corp"
                    [maxlength]="surveyFieldLengthConfig.title"
                  />
                  <mat-hint align="start"
                    >Title would be displayed on the right portion of survey
                    header e.g. ABC Corp</mat-hint
                  >
                  <mat-hint align="end"
                    >{{ form?.get("title")?.value?.length || 0 }}/{{
                      surveyFieldLengthConfig.title
                    }}</mat-hint
                  >
                </mat-form-field>

                <div class="col-sm-12 my-3 mt-4">
                  <mat-slide-toggle formControlName="showLogo"
                    >Show Organization Logo</mat-slide-toggle
                  >
                  <p class="text-muted">
                    <small
                      >Logo would be displayed on the left portion of survey
                      header, if selected and available</small
                    >
                  </p>
                </div>

                <mat-form-field
                  appearance="outline"
                  style="width: 100%"
                  class="mb-2"
                >
                  <mat-label>Survey Introductory HTML</mat-label>
                  <textarea
                    matInput
                    rows="9"
                    formControlName="introText"
                    maxLength="1000"
                    placeholder="Ex. <p>Introductory Text ...</p>"
                  ></textarea>
                  <mat-hint align="start"
                    >An optional survey introduction displayed after the Page
                    title and stored in HTML format e.g. "&lt;p class="lead"&gt;
                    Introductory text which can be shown after the Page Heading
                    and can be &lt;i&gt;preformatted&lt;/i&gt; from
                    &lt;b&gt;Centriqe&lt;/b&gt; app &lt;u&gt;Survey
                    &lt;b&gt;configuration&lt;/b&gt;&lt;/u&gt; itself.
                    &lt;/p&gt;"
                  </mat-hint>
                </mat-form-field>

                <h4 class="h4 text-secondary col-12 mt-4 mb-0">
                  Configure {{ tabIndex[2].label }}
                </h4>
                <hr class="my-1" style="width: 100%; height: 5px" />
                <div class="row mb-1" style="width: 100%">
                  <div class="col-12">
                    <mat-slide-toggle
                      [checked]="this.channelConfig.enableEmail"
                      (click)="
                        $event.preventDefault();
                        onToggleMessageTemplateConfig(emailToggle, 'email')
                      "
                      [disabled]="viewOnly"
                      #emailToggle
                      >Email</mat-slide-toggle
                    >
                  </div>

                  <div class="col-12 my-2">
                    <mat-slide-toggle
                      [checked]="this.channelConfig.enableSms"
                      (click)="
                        $event.preventDefault();
                        onToggleMessageTemplateConfig(smsToggle, 'sms')
                      "
                      [disabled]="viewOnly"
                      #smsToggle
                      >SMS</mat-slide-toggle
                    >
                  </div>

                  <div class="col-12">
                    <mat-slide-toggle
                      [checked]="this.channelConfig.enableWhatsApp"
                      (click)="
                        $event.preventDefault();
                        onToggleMessageTemplateConfig(
                          whatsappToggle,
                          'whatsApp'
                        )
                      "
                      [disabled]="viewOnly"
                      #whatsappToggle
                      >WhatsApp</mat-slide-toggle
                    >
                  </div>
                </div>
              </div>
            </mat-tab>

            <mat-tab [label]="tabIndex[1].label">
              <ng-template matTabContent>
                <div class="m-1">
                  <div
                    class="d-flex flex-column flex-sm-row justify-content-between align-items-center"
                  >
                    <h2 class="h2 font-weight-light my-2 mt-xs-4 ml-sm-2">
                      <em></em>Total Survey Pages:
                      {{ survey?.surveyPages?.length }}
                    </h2>
                    <button
                      class="align-self-sm-end align-self-stretch badge-blue"
                      mat-raised-button
                      matBadgePosition="before"
                      type="button"
                      (click)="survey?.onAddPage(); onPageAdd()"
                      *ngIf="!viewOnly"
                      [matBadge]="survey?.surveyPages?.length"
                    >
                      Add Page
                    </button>
                  </div>

                  <ng-container
                    *ngIf="
                      survey?.surveyPages && survey?.surveyPages?.length! === 1
                    "
                  >
                    <ng-container
                      *ngFor="
                        let page of survey?.surveyPages;
                        let currentPageIndex = index
                      "
                    >
                      <app-survey-page
                        [currentPageIndex]="currentPageIndex"
                        [survey]="survey"
                        [page]="page"
                        [viewOnly]="viewOnly"
                        [currentFeature]="currentFeature"
                        [savedSectionStructs]="savedSectionStructs"
                        [savedQuestionsStructs]="savedQuestionsStructs"
                        [questionTypes]="questionTypes"
                      ></app-survey-page>
                    </ng-container>
                  </ng-container>

                  <ng-container
                    *ngIf="
                      survey?.surveyPages && survey?.surveyPages?.length! > 1
                    "
                  >
                    <mat-tab-group
                      mat-align-tabs="center"
                      [(selectedIndex)]="selectedPageTabIndex"
                      *ngIf="survey?.surveyPages"
                      class="survey-pages-tabs-group"
                    >
                      <ng-container
                        *ngFor="
                          let page of survey?.surveyPages;
                          let currentPageIndex = index
                        "
                      >
                        <mat-tab label="Page {{ currentPageIndex + 1 }}">
                          <ng-template matTabContent>
                            <app-survey-page
                              [currentPageIndex]="currentPageIndex"
                              [survey]="survey"
                              [page]="page"
                              [viewOnly]="viewOnly"
                              [currentFeature]="currentFeature"
                              [savedSectionStructs]="savedSectionStructs"
                              [savedQuestionsStructs]="savedQuestionsStructs"
                              [questionTypes]="questionTypes"
                              (pageMoveEmitter)="onPageMove($event)"
                            ></app-survey-page>
                          </ng-template>
                        </mat-tab>
                      </ng-container>
                    </mat-tab-group>
                  </ng-container>
                </div>
              </ng-template>
            </mat-tab>

            <mat-tab
              [label]="tabIndex[2].label"
              *ngIf="
                this.channelConfig.enableEmail ||
                this.channelConfig.enableSms ||
                this.channelConfig.enableWhatsApp
              "
            >
              <ng-template matTabContent>
                <mat-tab-group
                  mat-align-tabs="end"
                  color="accent"
                  [(selectedIndex)]="selectedMessageTemplateTabIndex"
                  formGroupName="channel"
                >
                  <mat-tab
                    label="Email"
                    *ngIf="this.channelConfig.enableEmail"
                    formGroupName="email"
                  >
                    <ng-template matTabContent>
                      <mat-form-field appearance="outline">
                        <mat-label>Email Subject *</mat-label>
                        <textarea
                          matInput
                          formControlName="subject"
                          [maxlength]="emailSubjectMaxLength"
                          rows="1"
                          #subjectText
                        ></textarea>
                        <mat-error>Email Subject is a required field</mat-error>
                        <mat-hint align="end"
                          >{{ subjectText.value.length }} /
                          {{ emailSubjectMaxLength }}</mat-hint
                        >
                      </mat-form-field>
                      <hr />
                    </ng-template>
                  </mat-tab>
                  <mat-tab
                    label="SMS"
                    *ngIf="this.channelConfig.enableSms"
                    formGroupName="sms"
                  >
                    <ng-template matTabContent>
                      <mat-form-field appearance="outline">
                        <mat-label>SMS Text *</mat-label>
                        <textarea
                          matInput
                          formControlName="text"
                          [maxlength]="smsTextMaxLength"
                          rows="1"
                          #smsText
                        ></textarea>
                        <mat-error>SMS Text is a required field</mat-error>
                        <mat-hint align="end"
                          >{{ smsText.value.length }} /
                          {{ smsTextMaxLength }}</mat-hint
                        >
                      </mat-form-field>
                    </ng-template>
                  </mat-tab>
                  <mat-tab
                    label="WhatsApp"
                    *ngIf="this.channelConfig.enableWhatsApp"
                    formGroupName="whatsApp"
                  >
                    <ng-template matTabContent>
                      <mat-form-field appearance="outline">
                        <mat-label>WhatsApp Text *</mat-label>
                        <textarea
                          matInput
                          formControlName="text"
                          [maxlength]="whatsAppTextMaxLength"
                          rows="2"
                          #whatsAppText
                        ></textarea>
                        <mat-error>WhatsApp Text is a required field</mat-error>
                        <mat-hint align="end"
                          >{{ whatsAppText.value.length }} /
                          {{ whatsAppTextMaxLength }}</mat-hint
                        >
                      </mat-form-field>
                    </ng-template>
                  </mat-tab>
                </mat-tab-group>
              </ng-template>
            </mat-tab>
          </mat-tab-group>

          <div
            [hidden]="
              !this.channelConfig.enableEmail ||
              selectedTablIndex !== 2 ||
              selectedMessageTemplateTabIndex !== 0
            "
          >
            <email-editor
              [options]="options"
              (loaded)="loadEditor($event)"
              #editor
            >
            </email-editor>
          </div>
        </form>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <!-- Buttons -->
        <button
          (click)="onPreSubmit()"
          mat-raised-button
          class="btn-action"
          *ngIf="isCanDo()"
          [disabled]="isDisableButton()"
        >
          {{ getActionButtonText() }}
        </button>
        <ng-container *ngIf="accessMode === accessModes.Edit">
          <button
            (click)="onPreSubmit(true)"
            mat-raised-button
            class="btn-action"
            *ngIf="isCanDo()"
            [disabled]="isDisableButton()"
          >
            Update & Close
          </button>
        </ng-container>
        <button mat-raised-button class="btn-cancel" (click)="onCancel()">
          Close
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
