/* 15122020 - Gaurav - Init version */
:host {
  --btn-bgcolor: #145993;
  --white: #ffffff;
}

.survey-main-container {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.survey-page-add-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.survey-card-container {
  width: 100%;
}

::ng-deep .badge-blue .mat-badge-content,
::ng-deep
  .mat-step-header[aria-labelledby="page-stepper"]
  .mat-step-icon-selected,
::ng-deep
  .mat-step-header[aria-labelledby="page-stepper"]
  .mat-step-icon-state-done,
::ng-deep
  .mat-step-header[aria-labelledby="page-stepper"]
  .mat-step-icon-state-edit {
  background: var(--btn-bgcolor);
  color: var(--white);
}

/* 25032021 - Gaurav - Disabled child verticall scrollbar because it ws shown along the main component vertical scroll */
::ng-deep
  .survey-tabs-group
  .mat-tab-body-wrapper
  .mat-tab-body
  .mat-tab-body-content,
::ng-deep
  .survey-pages-tabs-group
  .mat-tab-body-wrapper
  .mat-tab-body
  .mat-tab-body-content {
  overflow-y: hidden;
}
